html, body {
  height: 100%;
  margin: 0;
}

body {
  background: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_container {
  display: flex;
  width: 50%;
}

.column {
  padding: 20px;
  width: 30%;
  border: 3px solid blue;
  border-radius: 5px;
  margin: 10px;
  background-color: lightgray;
}

.column_title {
  text-transform: uppercase;
}

.input_container {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  position: relative;
  background-color: #ffffff;
}

.add_btn {
  margin-top: 10px;
  padding: 5px 0;
  color: grey;
  cursor: pointer;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.task_item_del {
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: none;
}

.list_item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list_item:hover .task_item_del {
  display: block;
}

.task_list {
  padding: 0;
  min-height: 50px;
}

.input_add_btn {
  cursor: pointer;
}

.input_reset {
  cursor: pointer;
  margin-left: 5px;
}

.list_item.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: #fff;
}
